<div class="container-fluid">
  <section style="margin-top: 100px;">

    <h4 class="text-center">Słów kilka o projekcie: </h4>
    <h2 class="text-center">
        <strong>Rejestracja i aktywacja kont użytkowników</strong>
    </h2>
    <p class="px-xl-5 text-center grey-text mb-5">
      krótkie wprowadzenie
    </p>

    <div class="row">
      <div class="col-lg-6 col-xl-5 pr-lg-5 pb-5 project-icons">
        <span style="font-size: 15rem;"><i class="fas fa-user-plus"></i></span>
      </div>

      <div class="col-lg-6 col-xl-7 pl-lg-5">

        <div class="row mb-3">
          <div class="col-1 mr-1">
              <i class="fa fa-key fa-2x cyan-text"></i>
          </div>
          <div class="col-10">
              <h5 class="font-weight-bold">Rejestracja</h5>
              <p class="grey-text">
                Przedstawienie procesu rejestracji z teoretycznego pukntu widzenia,
                omówienie zastosowanych przez nas technologie w tym aspekcie.
              </p>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-1 mr-1">
              <i class="fa fa-code fa-2x red-text"></i>
          </div>
          <div class="col-10 ">
              <h5 class="font-weight-bold">
                Kod aplikacji (rejestracja po stronie klienta i serwera).
              </h5>
              <p class="grey-text">
                Przedstawienie API, rejestracja użytkownika po stronie klienta, wysłanie
                zapytań http do serwera (narzędziem POSTMAN).
              </p>
          </div>
        </div>

        <div class="row">
            <div class="col-1 mr-1">
              <i class="fa fa-commenting fa-2x deep-purple-text"></i>
            </div>
            <div class="col-10">
                <h5 class="font-weight-bold">Wnioski i komentarze</h5>
                <p class="grey-text">
                  Wnioski z przedstawionej części, pytania.
                </p>
            </div>
        </div>

      </div>
    </div>

    <hr>

    <div class="row pt-5">

        <div class="col-lg-6 col-xl-5 mb-3 project-icons order-lg-1">
          <span style="font-size: 15rem;">
            <i class="fab fa-creative-commons-sampling"></i>
          </span>
        </div>

      <div class="col-lg-6 col-xl-7 mb-3 order-1 order-lg-0">

        <div class="row mb-3">
            <div class="col-1 mr-1">
              <i class="fa fa-envelope-open-o fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
                <h5 class="font-weight-bold">Aktywacja konta</h5>
                <p class="grey-text">
                  Przedstawienie procesu aktywacji konta użytkownika. Teorytyczne pojęcia i
                  omówienie zastosowanych przez nas technologi.
                </p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-1 mr-1">
              <i class="fa fa-code fa-2x red-text"></i>
            </div>
            <div class="col-10 ">
              <h5 class="font-weight-bold">
                Kod aplikacji (aktywacja po stronie klienta i serwera).
              </h5>
              <p class="grey-text">
                Przedstawienie API, aktywacja użytkownika po stronie klienta, odebranie przez uzytkownika maila.
                Wysłanie zapytań http do serwera (narzędziem POSTMAN).
              </p>
          </div>
        </div>

        <div class="row mb-3">
            <div class="col-1 mr-1">
                <i class="fa fa-smile-o fa-2x blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="font-weight-bold">Wnioski i komentarze</h5>
              <p class="grey-text">
                Wnioski z przedstawionej części, pytania.
              </p>
            </div>
        </div>

      </div>

    </div>

    <hr>

    <div class="row margin-top-35">
      <div class="col-lg-6 col-xl-5 pr-lg-5 pb-5 project-icons">
        <span style="font-size: 15rem;"><i class="fa fa-unlock"></i></span>
      </div>

      <div class="col-lg-6 col-xl-7 pl-lg-5 pb-4">

        <div class="row mb-3">
          <div class="col-1 mr-1">
              <i class="fa fa-sign-in fa-2x indigo-text"></i>
          </div>
          <div class="col-10">
              <h5 class="font-weight-bold">Logowanie</h5>
              <p class="grey-text">
                Przedstawienie procesu logowania wraz z otrzymaniem tokenu (JSON WEB TOKEN),
                omówienie zastosowanych przez nas technologi w tym punkcie.
              </p>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-1 mr-1">
              <i class="fa fa-code fa-2x red-text"></i>
          </div>
          <div class="col-10 ">
              <h5 class="font-weight-bold">
                Kod aplikacji (logowanie po stronie klienta i serwera).
              </h5>
              <p class="grey-text">
                Przedstawienie API, logowanie użytkownika po stronie klienta, wysłanie
                zapytań http do serwera (narzędziem POSTMAN).
              </p>
          </div>
        </div>

        <div class="row">
            <div class="col-1 mr-1">
              <i class="fa fa-thumbs-up fa-2x blue-text"></i>
            </div>
            <div class="col-10">
                <h5 class="font-weight-bold">Wnioski i komentarze</h5>
                <p class="grey-text">
                  Wnioski z przedstawionej części, pytania.
                </p>
            </div>
        </div>

      </div>
    </div>
  </section>
</div>

<app-main-footer></app-main-footer>
