/* You can add global styles to this file, and also import other style files */

.margin-top-5 {
  margin-top: 5px !important;
}
.margin-top-15 {
  margin-top: 15px !important;
}
.margin-top-25 {
  margin-top: 25px !important;
}
.margin-top-35 {
  margin-top: 35px !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.margin-bottom-25 {
  margin-bottom: 25px !important;
}
.margin-bottom-35 {
  margin-bottom: 35px !important;
}
